@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body
{
	margin:0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 3vh;
}

/* Key "Block" Elements */

#interface
{
	float: left;
	width:100%;
	height: 100vh;
}

#corpo
{
	float: left;
	width:100%;
	height:87.5%;
}

#cabecalho
{
	color: #fff;
	float: left;
	height: 12%;
	width:100%;
	/*background-color: #1a1a1a;*/
	background-color: #e7e7e7;
	z-index: 1;
}

#menu_lateral
{
	position: relative;
	float: left;
	width:20%;
	height:100%;
	/*background: linear-gradient(to right,#ab6c07,#f59e13,#f59e13,#f59e13,#f59e13,#f59e13,#f59e13,#f59e13,#ab6c07);*/
	background-color: #5cb85c;

}

#content_placeholder
{
	float: left;
	font-size: 2.6vh;
	width:77%;
	height: 93.5%;
	overflow: auto;
	padding: 3% 0 0 3%;	
}

#content_placeholder h2 {
	text-align: center;
	color: rgba(0,0,0,.7);
	font-size: 5vh;
	font-weight: 700;
	padding-bottom: 5%;
}

/*Inner Header*/
#logo_content
{
	float: left;
	width:15%;
	height:100%;
}
#logo
{
	margin: 1.8% 0 0 3%;
	float: left;
	max-width: 120%;
}
#marca
{
	float: left;
	width: 55%;
	height: 100%;
}

#user_welcome
{
	float: left;
	margin: 2.2% 0 0 5%;
	font-weight: 700;
	color: rgba(0,0,0,.7);
}

button {
	float:right;
	margin: 1.5% 3% 0 0;
	border: none;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	background-color: #5cb85c;
	padding: .8%;
	color: white;
	font-size: 2.5vh;
	border-radius: 5%;
}

button:active {
	box-shadow: inset 0 5px 5px rgba(0,0,0,.125);
}


/* Inner Menu */

#menu_content
{
	float: left;
	width:100%;
	height:50%;
	margin-top: 30%;

}

/* Versionamento */
#versionamento
{
	position: absolute;
	padding-top: 1%;
	color: white;
	bottom: 0;
	width: 100%;
	height: 4%;
	text-align: center;
	word-break:break-all;
	outline: 1px solid #fff;
}

div.icones{
	cursor: pointer;
	display: inline-block;
	margin-left: 5%;
}

div.icones i{
	transition: all .3s ease-in-out;
	color: #407F40;
}

div.icones i:hover{
	background-color: #eeeeee;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: all .3s ease-in-out;


}











